In [ ]:
#assigment 1
mylst=['vishnusai',1,1.5,5+2j]
print(mylst)
#list functions:
mylst.append(10)
print(mylst)
mylst.insert(2,2.5)
print(mylst)
mylst.reverse()
print(mylst)
print(mylst.index(2.5))
mylst.pop()
print(mylst)
print(mylst.count(10))
mylst.clear()
print(mylst)

['vishnusai', 1, 1.5, (5+2j)]
['vishnusai', 1, 1.5, (5+2j), 10]
['vishnusai', 1, 2.5, 1.5, (5+2j), 10]
[10, (5+2j), 1.5, 2.5, 1, 'vishnusai']
3
[10, (5+2j), 1.5, 2.5, 1]
1
[]

In [ ]:
#assigmet 2
mytpl=('vishnusai','letsupgrade',10,10.5,20+5j,10)
print(mytpl)
##tuple has only 2 functions
print(mytpl.count(10))
print(mytpl.index(10.5))

('vishnusai', 'letsupgrade', 10, 10.5, (20+5j), 10)
2
3

In [ ]:
#assigment 3
mydict={'a':'letsupgrade','b':'vishnusai','c':'saisir','d':10,'e':10.5}
print(mydict)
##dictionary functions
print(mydict.get('a'))
print(mydict.keys())
print(mydict.values())
mydict.pop('e')
print(mydict)
mydict.clear()
print(mydict)

{'a': 'letsupgrade', 'b': 'vishnusai', 'c': 'saisir', 'd': 10, 'e': 10.5}
letsupgrade
dict_keys(['a', 'b', 'c', 'd', 'e'])
dict_values(['letsupgrade', 'vishnusai', 'saisir', 10, 10.5])
{'a': 'letsupgrade', 'b': 'vishnusai', 'c': 'saisir', 'd': 10}
{}

In [ ]:
#assignment-4
myset={1,2,1,2,3,4}
myset2={3,4,5,6,7}
print(myset)
print(myset2)
##set functions
c=myset.union(myset2)
print(c)
d=myset.intersection(myset2)
print(d)
myset.add(8)
print(myset)
myset.remove(4)
print(myset)
myset.update({9,10})
print(myset)

{1, 2, 3, 4}
{3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}
{3, 4}
{1, 2, 3, 4, 8}
{1, 2, 3, 8}
{1, 2, 3, 8, 9, 10}

In [ ]:
#assignment-5
str='  letsupgrade  '
print(str)
#string functions
print(str.find('s'))
print(str.upper())
print(str.lower())
print(str.lstrip())
print(str.rstrip())
print(len(str))

  letsupgrade
5
  LETSUPGRADE
  letsupgrade
letsupgrade
  letsupgrade
15